*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:hidden ;
}
body{
  font-family: sans-serif;
  background: #98fb98;
}
.sign-up{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%,-50%);
  width: 400px;
  border-radius: 10px;
  background: white;
  
}
.sign-up.login-page.active{
 display:flex;
}

.sign-up h2{
  text-align: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid black;
}
.input-box{
  position: relative;
  margin: 10px 0;
}
.input-box label{
  position: relative;
  left: 5px;
  top: 10px;
}
button[type="submit"]{
  width: 60%;
  height: 50px;
  margin-left: 20%;
  cursor: pointer;
  border: 1px solid;
  background: lightgreen;
  border-radius: 10px;
}
.login-link{
  padding: 20px;
  text-align: center;
}
button[type="submit"]:hover{
  background: rgb(60, 240, 60);
}
.login-in{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%,-50%);
  width: 400px;
  border-radius: 10px;
  background: white;
  display: none;
}
.login-in h2{
  text-align: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid black;
}
.input-box:hover{
  color:gray;
}